.product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100vh;
    border-radius: 4px;

    .product__data {
        width: 70%;
        height: inherit;
        margin-right: 1rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        .product__header {
            height: 25%;
            border-radius: 2px;
            background-color: #FFFFFF;
            -webkit-box-shadow: 0px 1px 2px rgb(0 0 0 / 8%);
            box-shadow: 0px 1px 2px rgb(0 0 0 / 8%);
            margin-bottom: 1rem;


            .product__header-title {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                padding: 0rem 1rem;
                margin: 0.5rem;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
            }

            .search__Wrapper {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-box-pack: flex-start;
                -ms-flex-pack: flex-start;
                justify-content: flex-start;
                margin-top: 1rem;
            }

            .search {
                margin-left: 1rem !important;
                width: 90% !important;
                border: none;
                -webkit-box-shadow: 1px 1px 2px 2px rgb(10 10 10 / 8%);
                box-shadow: 1px 1px 2px 2px rgb(10 10 10 / 8%);
            }

            .product__header-checkFilters {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -ms-flex-pack: distribute;
                justify-content: space-around;
                -ms-flex-flow: wrap;
                flex-flow: wrap;

                .check__Filters {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;

                    label {
                        font-size: small;
                        padding: 5px;
                        text-align: justify;
                        line-height: 15px;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        color: #8492A6;
                    }
                }
            }

            p {
                padding: 0.3rem 1rem;
                color: darkslategrey;
            }

            hr {
                width: 100%;
                border-top: 0.5px solid !important;
                opacity: 0.15 !important;
            }
        }

        .product__List {
            background-color: #FFFFFF;
            -webkit-box-shadow: 0px 1px 2px rgb(0 0 0 / 8%);
            box-shadow: 0px 1px 2px rgb(0 0 0 / 8%);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            height: 65%;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            overflow: auto;

            .product__List-item {
                pointer-events: auto;
                height: auto;
                -webkit-box-shadow: 0px 1px 2px rgb(0 0 0 / 8%);
                box-shadow: 0px 1px 2px rgb(0 0 0 / 8%);
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                padding: 1rem;
                text-transform: capitalize;

                &:hover {
                    cursor: pointer;
                    background-color: lightyellow;
                    border: 1px solid grey;
                    border-radius: 10px;
                }

                span {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    color: #8492A6;
                }

                div {
                    pointer-events: none;

                    span {
                        font-size: 14px;
                        line-height: 21px;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        color: #3C4858
                    }
                }

                .product__List-item-tags {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-flow: wrap;
                    flex-flow: wrap;
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                    flex-direction: row;

                    .product__List-item-tag {
                        color: #12B8FF;
                        margin-right: 0.4rem;
                        padding: 0.5rem;
                        border-radius: 2px;
                        -webkit-box-shadow: 0px 1px 2px rgb(0 0 0 / 8%);
                        box-shadow: 0px 1px 2px rgb(0 0 0 / 8%);
                    }
                }
            }
        }
    }

    .product__Details {
        width: 30%;
        height: 93vh !important;
        overflow: auto;
        height: inherit;
        background: #FFFFFF;
        -webkit-box-shadow: 0px 1px 2px rgb(0 0 0 / 8%);
        box-shadow: 0px 1px 2px rgb(0 0 0 / 8%);

        .product__summary-notSelected {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding: 0rem 1rem;
            margin: 0.5rem;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        .product__summary {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            gap: 5px;
            font-size: 14px;
            line-height: 14px;
            color: #3C4858;
            padding: 1rem;

            .product__summary-title {
                padding: 0rem 1rem;
                margin: 0.5rem;
            }

            .product__summary-CTE {
                background-color: #12B8FF;
                margin: 1rem 0.2rem;
                line-height: 16px;
            }

            .product__summary-name {
                line-height: 147.19%;
            }

            .product__summary-description {
                line-height: 24px;
            }

            .product__summary-options {

                input {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;

                    &:hover {
                        cursor: pointer;
                    }
                }

                label {
                    padding: 1rem;
                }

            }
        }
    }

    .product__summary-tags {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: wrap;
        flex-flow: wrap;

        .product__summary-tag {
            color: #12B8FF;
            margin-right: 0.4rem;
            padding: 0.5rem;
            border-radius: 2px;
            -webkit-box-shadow: 0px 1px 2px rgb(0 0 0 / 8%);
            box-shadow: 0px 1px 2px rgb(0 0 0 / 8%);
        }
    }
}

@media screen and (max-width: 900px) {
    .product {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        height: 100vh;
        border-radius: 4px;

        .product__data {
            .product__List {
                .product__List-item {
                    height: 100%;
                    -webkit-box-orient: vertical;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    padding: 1rem;

                    span {
                        margin-top: 1rem;
                    }
                }
            }
        }


        .product__data {
            width: 100% !important;
            width: 80vw !important;
            margin-right: 1rem;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;

            .product__header {
                height: 50%;
                padding: 1rem;
                margin-bottom: 1rem;

                .search {
                    margin-left: 1rem !important;
                    width: 60% !important;
                }

                .product__header-checkFilters {
                    -webkit-box-orient: vertical !important;
                    -webkit-box-direction: normal !important;
                    -ms-flex-direction: column !important;
                    flex-direction: column !important;
                    -webkit-box-align: flex-start;
                    -ms-flex-align: flex-start;
                    align-items: flex-flex-start;
                }
            }
        }

        .product__Details {
            width: 100% !important;
            background: #FFFFFF;
            margin-top: 2rem;
            -webkit-box-shadow: 0px 1px 2px rgb(0 0 0 / 8%);
            box-shadow: 0px 1px 2px rgb(0 0 0 / 8%);
            padding: 1rem;
            overflow: inherit;
        }
    }
}